@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
}

header {
  background-color: #fff;
}

.header__top {
  padding: 25px 0;
  background-color: #77D7D3;
}

.header__top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact {
  display: flex;
}
.header__contact a {
  color: #126360;
  margin-right: 45px;
}

.header__shocil {
  display: flex;
}
.header__shocil a {
  color: #126360;
  margin-left: 17px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  border-right: 1px solid #2b2b2b;
  padding-left: 16px;
  padding-right: 16px;
}
.nav__item:nth-child(5), .nav__item:nth-child(6) {
  border: none;
}
.nav__item a {
  color: #2E4049;
}
.nav__item:last-child {
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 36px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: white;
}

.hero {
  padding: 260px 0;
  background-image: url("../../img/hero__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__help {
  width: 128px;
  height: 54px;
}

.hero__title {
  color: #FFF;
  font-family: Shippori Mincho;
  font-size: 90px;
  font-weight: 800;
  line-height: 108.3%;
}

.hero__btns {
  display: flex;
}
.hero__btns button {
  border: none;
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 36px;
}
.hero__btns button:last-child {
  margin-left: 25px;
  color: #2E4049;
  background: #FFF;
}

.main__hero {
  padding-top: 142px;
  background: rgba(46, 64, 73, 0.91);
  -webkit-backdrop-filter: blur(20.5px);
          backdrop-filter: blur(20.5px);
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}
.main__hero p {
  margin: 0;
  margin-bottom: 20px;
  width: 400px;
}
.main__hero .main__logo {
  margin-top: 40px;
}

.main__hero__inner {
  margin-left: 40px;
}

.main__anonim {
  box-sizing: border-box;
  display: block;
  justify-content: space-around;
}

.main__btn {
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 39px;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 60px;
}

.form__input {
  padding: 48px 63px 40px 63px;
  width: 500px;
  height: 700;
}
.form__input input {
  margin-top: 30px;
  background-color: transparent;
  height: 40px;
}
.form__input input:last-child {
  width: 300px;
  height: 100px;
}

.main__inner {
  display: flex;
  justify-content: space-between;
}
.main__inner li:last-child {
  margin-top: 30px;
  border: 3px solid #fff;
}
.main__inner input {
  outline: none;
  border: 1px solid #fff;
  width: 100%;
  padding: 22px;
}
.main__inner textarea {
  margin-top: 25px;
  padding: 22px;
  width: 100%;
  background: transparent;
}

.main__buttons {
  margin-top: 25px;
  padding: 22px 41px;
  align-items: center;
  border-radius: 34px;
  border: none;
}

.footer {
  padding-top: 112px;
  padding-bottom: 128px;
  background-color: #384C56;
  color: white;
}
.footer .footer__inner {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__info {
  width: 363px;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer__info p {
  font-size: 17px;
}
.footer .footer__logo a img {
  height: 60px;
  width: 60px;
}
.footer .footer__get {
  color: #FFF;
  margin-right: 80px;
  padding: 56px 49px;
  font-size: 20px;
  font-style: normal;
  height: auto;
  width: auto;
  font-weight: 400;
  line-height: 186%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f595e;
}
.footer ul {
  margin-right: 40px;
}
.footer .footer__info {
  width: 363px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer p {
  margin-left: 30px;
}
.footer li {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: aliceblue;
}
.footer .main {
  background-color: #384C56;
  width: 200px;
  height: 200px;
}

.about {
  padding-bottom: 160px;
}

.about__cards {
  margin-top: -110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__card {
  padding: 40px;
  width: 400px;
  height: 350px;
}
.about__card:nth-child(1) {
  background: #77D7D3;
  padding-top: 67px;
  color: #4A4A4A;
}
.about__card:nth-child(1) h3 {
  color: #2E4049;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.3%;
}
.about__card:nth-child(1) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.about__card:nth-child(1) button {
  margin-top: 20px;
  border-radius: 34px;
  background: #FFF;
  padding: 22px 36px;
  border: none;
}
.about__card:nth-child(2) {
  background: #2E4049;
  padding-top: 83px;
}
.about__card:nth-child(2) h3 {
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.3%;
}
.about__card:nth-child(2) p {
  color: #FFF;
  font-size: 20px;
  line-height: 130%;
}
.about__card:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__inner {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__inner__left {
  width: 50%;
}
.about__inner__left h2 {
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.about__inner__left p {
  color: #727272;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.about__inner__left button {
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 40px;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 54px;
}

.about__inner__right {
  width: 50%;
  background: #ECF1F0;
  padding: 50px 40px;
}
.about__inner__right .right__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about__inner__right .right__item {
  margin-top: 18px;
  width: 206px;
  display: flex;
}
.about__inner__right .right__item i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  width: 27px;
  height: 27px;
  background-color: #77D7D3;
  border-radius: 50%;
}
.about__inner__right h3 {
  margin-top: 40px;
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.about__inner__right .progress {
  margin: 28px 0;
  height: 6px !important;
  background-color: #C5CECC;
}
.about__inner__right .about__price {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.about__inner__right button {
  margin-top: 50px;
  border-radius: 34px;
  background: #FFF;
  padding: 22px 45px;
  border: none;
}

.causes {
  padding-top: 164px;
  padding-bottom: 163px;
  background-color: #F1EEEC;
}

.causes__hed {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.causes__hed h2 {
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.causes__hed button {
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 35px;
  border: none;
  color: white;
}

.people {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #fff;
}

.people__inner {
  text-align: center;
}
.people__inner h2 {
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.people__list {
  display: flex;
  flex-wrap: wrap;
}

.people__item {
  margin-top: 60px;
  width: 348px;
}
.people__item h3 {
  color: #2E4049;
  text-align: center;
  font-family: Shippori Mincho;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.people__item p {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.projects__inner {
  display: flex;
  justify-content: space-between;
}

.projects__info {
  width: 50%;
}
.projects__info .info__inner {
  width: 100%;
  padding: 83px 102px;
  background: #202D33;
  height: 443px;
}
.projects__info .info__inner h2 {
  color: #FFF;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.projects__info .info__inner p {
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 30px 0;
}
.projects__info .info__inner button {
  color: white;
  font-weight: 500;
  border-radius: 34px;
  background: #FF6D6D;
  padding: 22px 30px;
  border: none;
}
.projects__info .info__img {
  display: flex;
  justify-content: space-between;
}
.projects__info .info__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 443px;
}

.projects__content {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.projects__content img {
  width: 50%;
  height: 443px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects__content .content__info {
  height: 443px;
  width: 50%;
  background: #FF6D6D;
  padding: 39px;
}
.projects__content .content__info button {
  margin-top: 200px;
  border-radius: 50px;
  background: #E85353;
  padding: 6px 19px;
  border: none;
  color: white;
}
.projects__content .content__info h3 {
  margin-top: 14px;
  color: #FFF;
  font-family: Shippori Mincho;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.volunter__title {
  background-color: #F1EEEC;
  padding: 140px 0;
  text-align: center;
  color: #2E4049;
}
.volunter__title .bi {
  color: black;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info .info__item h4 {
  margin-top: 16px;
}
.info li:last-child {
  padding: 64px 21px;
  background-color: #77D7D3;
  align-items: center;
}
.info li:last-child p {
  margin: 0;
}
.info li:last-child button {
  padding: 12px 22px;
  color: #FFF;
  border-radius: 34px;
  background: #2E4049;
  border: none;
}

.events {
  background-color: #fff;
  padding-top: 264px;
  padding-bottom: 125px;
}

.event__hed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event__hed h1 {
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.event__hed .event__more {
  padding: 22px 36px;
  border-radius: 34px;
  border: none;
  color: white;
  background: #FF6D6D;
}

.event__head {
  width: 600px;
  height: 300px;
  background-image: url(../../img/Photo\ \(6\).png);
  background-repeat: no-repeat;
}

.event__heard {
  background-color: #FF6D6D;
  padding-top: 25px;
  width: 100px;
  height: 130px;
  text-align: center;
}
.event__heard h1 {
  color: #FFF;
  font-family: Shippori Mincho;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.event__sub {
  display: flex;
}
.event__sub p {
  margin: 0;
}

.event__small h3 {
  margin: 28px 0;
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.event__small p {
  margin: 0;
  width: 600px;
  color: #727272;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.event__small img {
  margin-top: 20px;
  padding: 16px 20px;
  background-color: #F0F0F0;
}

.events__main {
  display: flex;
  justify-content: space-between;
}

.events__list {
  max-width: 570px;
  margin-left: 30px;
}

.events__item {
  padding-bottom: 25px;
  border-bottom: 1px solid #C7C7C7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events__item .date {
  padding: 21px 19px;
  color: white;
  background-color: #2E4049;
  width: 116px;
}
.events__item .date span {
  text-align: center;
  font-family: Shippori Mincho;
  font-size: 60px;
  font-weight: 800;
  line-height: 120%;
}
.events__item p {
  color: #727272;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.events__item p span {
  color: #FF6D6D;
}
.events__item .item__info {
  margin-left: 20px;
}

.subscribe__inner {
  background-color: #FF6D6D;
  padding: 74px 112px;
  margin: 0;
}
.subscribe__inner h1 {
  color: #FFF;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.subscribe__inner p {
  margin: 0;
  margin-bottom: 30px;
  color: #FFF;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.subscribe__inner form {
  display: flex;
}
.subscribe__inner form input {
  padding: 21px;
  padding-left: 26px;
  margin-right: 10px;
  border: none;
  width: 414px;
  height: 65px;
  border-radius: 34px;
  background: #FFF;
}
.subscribe__inner .sub__btn {
  padding: 22px 36px;
  align-items: center;
  border-radius: 34px;
  background: #2E4049;
  color: white;
  border: none;
}

.subscribe__head {
  display: flex;
  justify-content: center;
}

.subscribe__end {
  background: rgba(119, 215, 211, 0.93);
  padding: 81px;
  padding-left: 108px;
  padding-right: 200px;
}
.subscribe__end h1 {
  width: 528px;
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.subscribe__end .sub__btn__end {
  margin-top: 17px;
  padding: 22px 28px;
  align-items: center;
  border: none;
  color: white;
  border-radius: 34px;
  background: #2E4049;
}

.testi {
  padding: 150px 0;
}

.users__wrapper {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.users__wrapper .user_img {
  margin-right: 25px;
}

.designer__user {
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddebed;
  padding: 20px;
}

.designer__info .info__inner {
  display: flex;
  justify-content: space-between;
}

.designer__inner {
  text-align: center;
}

.testi__line {
  margin: 0 auto;
  margin-top: 33px;
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testi__line button {
  border-radius: 50%;
  background-color: transparent;
  width: 73px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: 1px solid #D0D0D0;
}
.testi__line hr {
  height: 2px;
  background-color: #D0D0D0;
  display: flex;
  flex-grow: 1;
}

.testi__list {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D0D0D0;
}
.testi__list .testi__item {
  width: 240px;
  text-align: center;
}
.testi__list .testi__item span {
  color: #2E4049;
  font-family: Shippori Mincho;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.testi__list .testi__item p {
  color: #727272;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.testi__partner {
  margin-top: 50px;
}

.footer {
  padding-top: 112px;
  padding-bottom: 128px;
  background-color: #384C56;
  color: white;
}
.footer .footer__inner {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__info {
  width: 363px;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer__info p {
  font-size: 17px;
}
.footer .footer__logo a img {
  height: 60px;
  width: 60px;
}
.footer .footer__get {
  color: #FFF;
  margin-right: 80px;
  padding: 56px 49px;
  font-size: 20px;
  font-style: normal;
  height: auto;
  width: auto;
  font-weight: 400;
  line-height: 186%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f595e;
}
.footer ul {
  margin-right: 40px;
}
.footer .footer__info {
  width: 363px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer p {
  margin-left: 30px;
}
.footer li {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: aliceblue;
}
.footer .main {
  background-color: #384C56;
  width: 200px;
  height: 200px;
}/*# sourceMappingURL=main.css.map */